body{
	background-image:url("body.jpg");
}
#main
{
 background-color:white;
 height:1380px;
 width:1280px;
 margin:auto;
}
#header
{
background-color:white;
 height:100px;
 width:1280px;
  float:left;  
}	
#logo
{
	background-image:url("log.png");
	height:165;
	width:160;	
	margin:10 20 20 20;
	float:left;
}
#menus
{
background-color:white;
	height:70;
	width:1280;
	margin:00 00 00 00;	
	float:left;
	display:block;
}

#m1
{
	background-color:block;
	height:70;
	width:800;
	float:left;
}
ul
{

list-style-type:none;
		
}
	
ul li
{
	
	display:inline-block;
	
}
ul li a
{
	text-decoration:none;
	font-size:20;
	font-family:arial;
	color:black;
	padding:5 0 0 5;
	border:20;
	
}
#m1 ul li a:hover
{
	background:white;
	color:red;
} 
}
#m2
{
	background-color:block;
	height:70;
	width:300;
	float:right;
}
ul
{
	list-style-type:none;
	text-align:left;
	display:block;	
}
ul li
{
	display:inline-block;
	padding:10 0 0 10;
	background-color:white;
}
ul li a
	text-decoration:none;
	font-size:20;
	font-family:arial;
	color:black;
	padding:5 0 0 5;
	border:20;	
}
ul li a:hover
{
	background:white;
	color:red;
}	
#food
{
	background-color:black;
	height:100;
	width:1280;
	margin:auto;
}
#f1
{
	background-color:white;
	height:80;
	width:640;
	margin:-6 0 0 0;
	float:left;
}
#f2
{
background-color:white;
	height:80;
	width:640;
	margin:-7 0 0 0;
	float:left;
}
#food2
{
	background-color:black;
	height:250;
	width:1280;
	margin:auto;
}
#fd1
{
	background-color:white;
	height:250;
	width:640;
	margin:0 0 0 0;
	float:left;
}
#fr
{
background-image:url("Pakora.jpg");

	height:230;
	width:400;
	float:left;
	margin:7 2 2 7;
}
#fr2
{
background-color:white;
	height:230;
	width:200;
	float:right;
	margin:7 7 2 2;
}
.buynow
{
margin-left:50;
}
#fd2
{
background-color:white;
	height:250;
	width:640;
	margin:0 0 0 0;
	float:left;
}
#fv
{
background-image:url("pizza.jpg");
	height:230;
	width:400;
	float:left;
	margin:7 2 2 7;
}
#fv2
{
background-color:white;
	height:230;
	width:200;
	float:right;
	margin:7 7 2 2;
}
.buynow
{
margin-left:50;
}
#food3
{
	background-color:white;
	height:250;
	width:1280;
	margin:auto;
}
#fd3
{
	background-color:white;
	height:250;
	width:640;
	margin:0 0 0 0;
	float:left;
}
#fs
{
background-image:url("jalebi.jpg");
	height:230;
	width:400;
	float:left;
	margin:7 2 2 7;
}
#fs2
{
background-color:white;
	height:230;
	width:200;
	float:right;
	margin:7 7 2 2;
}
.buynow
{
margin-left:50;
}

#fd4
{
background-color:white;
	height:250;
	width:640;
	margin:0 0 0 0;
	float:left;
}
#fa
{
background-image:url("samchole.jpg");
	height:230;
	width:400;
	float:left;
	margin:7 2 2 7;
}
#fa2
{
background-color:white;
	height:230;
	width:200;
	float:right;
	margin:7 7 2 2;
}
.buynow
{
margin-left:50;
}

#food4
{
	background-color:white;
	height:250;
	width:1280;
	margin:auto;
}
#fd5
{
	background-color:white;
	height:250;
	width:640;
	margin:0 0 0 0;
	float:left;
}
#fm
{
background-image:url("fries.jpg");
	height:230;
	width:400;
	float:left;
	margin:7 2 2 7;
}
#fm2
{
background-color:white;
	height:230;
	width:200;
	float:right;
	margin:7 7 2 2;
}
.buynow
{
margin-left:50;
}



#fd6
{
background-color:white;
	height:250;
	width:640;
	margin:0 0 0 0;
	float:left;
}
#fj
{
background-image:url("non.jpg");
	height:230;
	width:400;
	float:left;
	margin:7 2 2 7;
}
#fj2
{
background-color:white;
	height:230;
	width:200;
	float:right;
	margin:7 7 2 2;

}
.buynow
{
margin-left:50;
}


#food5
{
	background-color:white;
	height:250;
	width:1280;
	margin:auto;
}
#fd7
{
	background-color:white;

	height:230;
	width:640;
	margin:0 0 0 0;
	float:left;
}
#fl
{
background-image:url("maggi.jpg");
	height:210;
	width:400;
	float:left;
	margin:7 2 2 7;
}
#fl2
{
background-color:white;
	height:210;
	width:200;
	float:right;
	margin:7 7 2 2;

}
.buynow
{
margin-left:50;
}

#fd8
{
background-color:white;
	height:230;
	width:640;
	margin:0 0 0 0;
	float:left;
}
#ft
{
background-image:url("cb.jpg");
	height:210;
	width:400;
	float:left;
	margin:7 2 2 7;
}
#ft2
{
background-color:white;
	height:210;
	width:200;
	float:right;
	margin:7 7 2 2;
}
.buynow
{
margin-left:50;
}
















































